---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import BaseLayout from "@components/Layout/BaseLayout.astro";
import Image from "@components/Image.astro";
//import { Image } from "astro:assets";

import bandeiras1 from "/src/assets/projects/bandeiras1.gif";
import bandeiras2 from "/src/assets/projects/bandeiras2.gif";
import bandeiras3 from "/src/assets/projects/bandeiras3.jpg";

import ea from "/src/assets/projects/ea-demo.jpg";
import Project from "@components/Project.astro";
---

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 60;
    text-shadow:
      var(--black) 2px 2px 0,
      var(--black) 4px 4px 0;
  }
  .hero {
    margin-block: 100px;
    z-index: 30;
    display: grid;
    place-content: center;
    position: relative;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  :root {
    --width: 320px;
    --width-1-2: calc(var(--width) / 2);
    --width-1-4: calc(var(--width) / 4);
    --width-1-8: calc(var(--width) / 8);
  }

  @media (max-width: 720px) {
    :root {
      --width: 160px;
    }
  }

  @keyframes enter-2 {
    0% {
      transform: translate(-2000px, 0);
    }
    100% {
      transform: translate(0);
    }
  }
  /* 
  @media (prefers-reduced-motion) {
  } */

  @keyframes enter-1 {
    from {
      transform: translate(1000px, -2000px);
    }
    to {
      transform: translate(0);
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .circle {
    z-index: 40;
    position: absolute;
    border-radius: 999px;
    background: radial-gradient(
      circle at 90% 50%,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    );
  }

  .hero > .circle.circle-first {
    width: var(--width);
    height: var(--width);
    left: var(--width-1-2);
    top: calc(var(--width-1-8) * -1);
    transition: all;
    animation: scale-in 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }

  .circle.circle-first > .circle.circle-second {
    width: var(--width-1-2);
    height: var(--width-1-2);
    left: var(--width-1-2);
    top: var(--width-1-4);
    animation: enter-1 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }
  .circle-final {
    width: var(--width-1-4);
    height: var(--width-1-4);
    left: var(--width-1-4);
    top: var(--width-1-8);
    transition: all;
    animation: enter-2 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }
  .reveal {
    animation: reveal 1618ms cubic-bezier(1, 0, 0.83, 0.67);
  }
</style>

<BaseLayout {SITE_TITLE} {SITE_DESCRIPTION}>
  <main>
    <section class="hero reveal">
      <div style="z-index: 60">
        <h1>Vitor Ayres</h1>
        <h2 style="text-align:center;">
          Improve, fix &<br />document code.
        </h2>
      </div>
      <div class="circle circle-first">
        <div class="circle circle-second">
          <div class="circle circle-final"></div>
        </div>
      </div>
    </section>

    <section>
      <br />
      <br />
      <h2>Highlights</h2>

      <Project
        title="Bandeiras do Brasil"
        desc="Showcases flags and coat of arms from each Brazil state. There's a quiz where one can play to try and guess all flags by name."
        url="https://bandeiras.pages.dev/"
        made="Astro, Tailwind CSS and Typescript"
      >
        <Image src={bandeiras1} alt="Gif showcasing website map of Brazil" />

        <br />
        <Image
          src={bandeiras3}
          alt="Image from Tocatins (Brazilian State) flag and coat of arms"
        />
      </Project>

      <Project
        title="Custom MT5 Expert Advisor"
        desc="MetaTrader 5 Expert Advisor - EA, made according to client's personal strategy and definition. Closed Source."
        made="MQL5 (MetaQuotes Language 5), a C++ syntax like language"
      >
        <Image src={ea} alt="Demo image from the EA" />
      </Project>
      <Project
        title="Elder Futhark"
        desc="Animated webapp showing Norse Runes from the Elder Futhark, it also have a divination tool"
        url="https://ru.pages.dev"
        made="Vite, Svelte components, Tailwind CSS and Typescript"
      />
      <Project
        title="Open Source Contributions"
        desc="Contributing back to awesome open source projects that I utilize or that I just find it interesting to work on or have a warming community. Besides bug fixes, writing documentation, helping to implement features I also try and support on discord channels and maintaining docs translated and up to date in my native language, when feasible."
      />
      <br />
      <p>See more on <a href="https://github.com/vasfvitor/">GitHub</a></p>
    </section>
    <section>
      <h2>Get in touch</h2>
      <a href="mailto:vasfvitor@virtuaires.com.br">Send an email</a>, reach me
      on <a href="https://www.linkedin.com/in/ayresvitor/">LinkedIn</a> or leave
      an anonymous message:
    </section>
  </main>
</BaseLayout>
