---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import BaseLayout from "@components/Layout/BaseLayout.astro";
import Image from "@components/Image.astro";
//import { Image } from "astro:assets";

import bandeiras1 from "/src/assets/projects/bandeiras1.gif";
//import bandeiras2 from "/src/assets/projects/bandeiras2.gif";
import bandeiras3 from "/src/assets/projects/bandeiras3.jpg";

import ea from "/src/assets/projects/ea-demo.jpg";
import Project from "@components/Project.astro";
---

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
  }

  .hero {
    color: white;
    padding-block: 100px;
    z-index: 30;
    display: grid;
    place-content: center;
    position: relative;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  :root {
    --width: 320px;
    --width-1-2: calc(var(--width) / 2);
    --width-1-4: calc(var(--width) / 4);
    --width-1-8: calc(var(--width) / 8);
  }

  @keyframes enter-2 {
    0% {
      transform: translate(-2000px, 0);
    }
    100% {
      transform: translate(0);
    }
  }
  /* 
  @media (prefers-reduced-motion) {
  } */

  @keyframes enter-1 {
    from {
      transform: translate(1000px, -2000px);
    }
    to {
      transform: translate(0);
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .circle {
    z-index: 40;
    position: absolute;
    border-radius: 999px;
    background: radial-gradient(
      circle at 90% 20%,
      rgba(0, 0, 0, 0),
      hsla(50, 100%, 65%, 0.2)
    );
  }
  .wrapper {
    display: grid;
    place-content: center;
    width: 100%;
    overflow-y: hidden;
  }
  .wrapper > .circle.circle-first {
    width: var(--width);
    height: var(--width);
    top: 80px;
    transition: all;
    animation: scale-in 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }

  .circle.circle-first > .circle.circle-second {
    width: var(--width-1-2);
    height: var(--width-1-2);
    left: var(--width-1-2);
    top: var(--width-1-4);
    animation: enter-1 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }
  .circle-final {
    width: var(--width-1-4);
    height: var(--width-1-4);
    left: var(--width-1-4);
    top: var(--width-1-8);
    transition: all;
    animation: enter-2 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }
  .reveal {
    animation: reveal 1618ms cubic-bezier(1, 0, 0.83, 0.67);
  }
</style>

<BaseLayout {SITE_TITLE} {SITE_DESCRIPTION}>
  <header class="hero reveal">
    <div style="z-index: 60">
      <h1>111</h1>
      <h2 style="text-align:center;">
        Write, improve, fix<br /> & document code.
      </h2>
    </div>
    <div class="wrapper">
      <div class="circle circle-first">
        <div class="circle circle-second">
          <div class="circle circle-final"></div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="projects">
      <br />
      <br />
      <h2>Projects</h2>

      <Project
        title="Bandeiras do Brasil"
        desc="Showcases flags and coat of arms from each Brazil state. There's a quiz where one can play to try and guess all flags by name."
        url="https://bandeiras.pages.dev/"
        made="Astro, Tailwind and Typescript"
      >
        <Image src={bandeiras1} alt="Gif showcasing website map of Brazil" />

        <br />
        <Image
          src={bandeiras3}
          alt="Image from Tocatins (Brazilian State) flag and coat of arms"
        />
      </Project>

      <Project
        title="Custom MT5 Expert Advisor"
        desc="MetaTrader 5 Expert Advisor - EA, made according to client's personal strategy and definitions. Closed Source."
        made="MQL5 (MetaQuotes Language 5), a C++ syntax language with OOP"
      >
        <Image src={ea} alt="Demo image from the EA" />
      </Project>
      <Project
        title="Elder Futhark Runes"
        desc="Animated webapp showing animated cards Runes from Norse Elder Futhark"
        url="https://runes.pages.dev"
        made="Vite, Svelte, Flowbite, Typescript and original card designs"
      />
      <!-- <Project
        title="Open Source Contributions"
        desc="Giving back to open source projects that I utilize or that's interesting to work on. "
      /> -->
      <br />
      <p>See more on <a href="https://github.com/vasfvitor/">GitHub</a></p>
    </section>
    <section>
      <h2>Get in touch</h2>
      <a href="mailto:vasfvitor@virtuaires.com.br">Send an email</a> or reach me
      on <a href="https://www.linkedin.com/in/ayresvitor/">LinkedIn</a>
    </section>
  </main>
</BaseLayout>
