---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import BaseLayout from "@components/Layout/BaseLayout.astro";
import Image from "@components/Image.astro";
//import { Image } from "astro:assets";

import bandeiras1 from "/src/assets/projects/bandeiras1.gif";
//import bandeiras2 from "/src/assets/projects/bandeiras2.gif";
import bandeiras3 from "/src/assets/projects/bandeiras3.jpg";
import ea from "/src/assets/projects/ea-demo.jpg";
import runes1 from "/src/assets/projects/runes.gif";

import Project from "@components/Project.astro";

import Vitor from "/Vitor.svg?raw";
---

<BaseLayout {SITE_TITLE} {SITE_DESCRIPTION}>
  <header class="hero reveal">
    <div style="z-index: 60">
      <h1 class="sr-only">Vitor Ayres</h1>
      <!-- <img class="svg" src="/vitor.svg" /> -->
      <Fragment class="test" set:html={Vitor} />
      <h2 class="lead">
        Write, improve, fix<br />& document code
      </h2>
    </div>
    <div class="circle circle-first">
      <div class="circle circle-second">
        <div class="circle circle-final"></div>
      </div>
    </div>
  </header>
  <main class="reveal">
    <section class="projects">
      <br />
      <br />
      <h2>Projects</h2>

      <Project
        title="Bandeiras do Brasil"
        desc="Showcases flags and coat of arms from each Brazil state. There's a quiz where one can play to try and guess all flags by name."
        url="https://bandeiras.pages.dev/"
        made="Astro, Tailwind and Typescript"
      >
        <Image src={bandeiras1} alt="Gif showcasing website map of Brazil" />

        <Image
          src={bandeiras3}
          alt="Image from Tocatins (Brazilian State) flag and coat of arms"
        />
      </Project>

      <Project
        title="Custom MT5 Expert Advisor"
        desc="MetaTrader 5 Expert Advisor - EA, made according to client's personal strategy and definitions. Closed Source."
        made="MQL5 (MetaQuotes Language 5), a C++ syntax language with OOP"
      >
        <Image src={ea} alt="Demo image from the EA" />
      </Project>
      <Project
        title="Elder Futhark Runes"
        desc="Animated webapp showing animated cards Runes from Norse Elder Futhark"
        url="https://elder-futhark-runes.pages.dev/"
        made="Vite, Svelte, Flowbite, Typescript and original card designs"
      />
      <Image src={runes1} alt="Gif showcasing website map of Brazil" />
      <br />
      <p>See more on <a href="https://github.com/vasfvitor/">GitHub</a></p>
    </section>
    <section>
      <h2>Get in touch</h2>
      <a href="mailto:vasfvitor@virtuaires.com.br">Send an email</a> or reach me
      on <a href="https://www.linkedin.com/in/ayresvitor/">LinkedIn</a>
    </section>
  </main>
</BaseLayout>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    font-family: sans-serif;
  }

  .hero {
    color: white;
    padding-block: 100px;
    z-index: 30;
    display: grid;
    place-content: center;
    position: relative;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  :root {
    --width: 320px;
    --width-1-2: calc(var(--width) / 2);
    --width-1-4: calc(var(--width) / 4);
    --width-1-8: calc(var(--width) / 8);
  }

  @keyframes enter-2 {
    0% {
      transform: translate(-2000px, 0);
    }
    100% {
      transform: translate(0);
    }
  }
  /* 
  @media (prefers-reduced-motion) {
  } */

  @keyframes enter-1 {
    from {
      transform: translate(1000px, -2000px);
    }
    to {
      transform: translate(0);
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes glow-ring {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .circle::after {
    opacity: 0;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    outline: hsla(50, 100%, 65%, 0) solid 2px;
    box-shadow: 7px 0px 15px hsla(50, 100%, 65%, 0);
    transition: all;
    outline: hsla(50, 100%, 65%, 0.2) solid 1px;
    box-shadow:
      7px 0px 23px hsla(50, 100%, 65%, 0.33),
      2px 0px 3px rgba(255, 255, 255, 0.307);
    animation: 1618ms glow-ring 1018ms 1 ease-in-out forwards;
  }

  .circle {
    z-index: 40;
    position: absolute;
    border-radius: 999px;
    background: radial-gradient(
      circle at 90% 20%,
      rgba(0, 0, 0, 0),
      hsla(50, 100%, 65%, 0.2)
    );
  }

  .circle.circle-first {
    width: var(--width);
    height: var(--width);
    top: 20px;
    left: 20px;
    transition: all;
    animation: scale-in 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }

  .circle.circle-first > .circle.circle-second {
    width: var(--width-1-2);
    height: var(--width-1-2);
    left: var(--width-1-2);
    top: var(--width-1-4);
    animation: enter-1 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }
  .circle-final {
    width: var(--width-1-4);
    height: var(--width-1-4);
    left: var(--width-1-4);
    top: var(--width-1-8);
    transition: all;
    animation: enter-2 1618ms cubic-bezier(0, 0.71, 0, 0.98);
  }

  .reveal {
    animation: reveal 1618ms cubic-bezier(1, 0, 0.83, 0.67);
  }

  .projects img {
    border-radius: 4px;
    margin-top: 12px;
  }

  .lead {
    font-family: monospace;
    letter-spacing: -2px;
    line-height: 0.85em;
    margin: 0;
    color: lightgrey;
    text-align: center;
    text-shadow: 0px 0px 4px black;
  }
</style>
