---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import BaseLayout from "@components/Layout/BaseLayout.astro";
import Image from "@components/Image.astro";
//import { Image } from "astro:assets";

import bandeiras1 from "/src/assets/projects/bandeiras1.gif";
//import bandeiras2 from "/src/assets/projects/bandeiras2.gif";
import bandeiras3 from "/src/assets/projects/bandeiras3.jpg";
import ea from "/src/assets/projects/ea-demo.jpg";
import runes1 from "/src/assets/projects/runes.gif";
import profile from "src/assets/images/pfp.jpg";

import Project from "@components/Project.astro";

import Vitor from "/Vitor.svg?raw";

import "../styles/animations.css";
import "../styles/index.css";
---

<BaseLayout {SITE_TITLE} {SITE_DESCRIPTION}>
  <header class="hero reveal-hero">
    <div style="z-index: 60">
      <h1 class="sr-only">Vitor Ayres</h1>
      <!-- <img class="svg" src="/vitor.svg" /> -->
      <Fragment class="test" set:html={Vitor} />
      <h2 class="lead">
        Write, improve, fix<br />& document code
      </h2>
    </div>
    <div class="circle circle-first">
      <div class="circle circle-second">
        <div class="circle circle-final"></div>
      </div>
    </div>
  </header>
  <main class="reveal">
    <section class="about-me">
      <h2>About me</h2>
      <Image
        class="pfp"
        src={profile}
        alt="Vitor Ayres artistic profile - made by a real person"
      />
      <p>
        I like solving puzzles and challenges, it all started with highschool
        math, I discovered coding's endless challenges and fell in love when
        working in a paid media manager position, while working, I was seeking
        to solve a problem that the solution I need to code, so, while into this
        I learnt just enough to solve it, but more than enough to enjoy and want
        more.
      </p>
    </section>
    <section class="projects">
      <h2>Projects</h2>
      <Project
        title="Bandeiras do Brasil"
        desc="Showcases flags and coat of arms from each Brazil state. There's a quiz where one can play to try and guess all flags by name."
        url="https://bandeiras.pages.dev/"
        made="Astro, Tailwind and Typescript"
      >
        <Image src={bandeiras1} alt="Gif showcasing website map of Brazil" />

        <Image
          src={bandeiras3}
          alt="Tocatins (Brazilian State) flag and coat of arms"
        />
      </Project>

      <Project
        title="Custom MT5 Expert Advisor"
        desc="MetaTrader 5 Expert Advisor - EA, made according to client's personal strategy and definitions. Closed Source."
        made="MQL5 (MetaQuotes Language 5), a C++ syntax language with OOP"
      >
        <Image src={ea} alt="Demo from the EA" />
      </Project>
      <Project
        title="Elder Futhark Runes"
        desc="Webapp showing animated cards Runes from Norse Elder Futhark"
        url="https://elder-futhark-runes.pages.dev/"
        made="Vite, Svelte, Flowbite, Typescript and original card designs"
      />
      <Image src={runes1} alt="Gif showcasing website map of Brazil" />
      <br />
      <p>See more on <a href="https://github.com/vasfvitor/">GitHub</a></p>
    </section>
    <section>
      <h2>Get in touch</h2>
      <a href="mailto:vasfvitor@virtuaires.com.br">Send an email</a> or reach me
      on <a href="https://www.linkedin.com/in/ayresvitor/">LinkedIn</a>
    </section>
  </main>
</BaseLayout>
