---
interface Props {
  title: string;
  url?: string;
  made?: string;
  desc: string;
}

const { title, url, desc, made } = Astro.props;
const id = title.replaceAll(" ", "");
---

<style>
  .wrapper {
    margin-top: 3rem;
    position: relative;
  }
  a {
    display: block;
    width: fit-content;
  }

  h3 {
    position: relative;
    margin: 0;
  }
    
  h3::before {
    top:-15px;
    left: -30px;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("/bg.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -20;
  }
  .decoration {
    /* bottom: 0; */
    content: "";
    position: absolute;
    border:0;
    border-top: 10px dotted rgba(0, 0, 0, 0.1);
    border-bottom: 12px dotted rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: -30;
    height: 0.7em;
    left:0;
    right: 0;
    margin-left: -20ch;
    margin-right: -20ch;
  }



</style>

<div class="wrapper">
  <a href={url}><h3>{title}</h3></a>
  <div class="decoration"></div>

  <article>
    <slot name="description" /> 
    {desc}
    {
      made && (
      
          <label for={id} class="sidenote-toggle">
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="Info">
                <path
                  id="Vector"
                  d="M12 11V16M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21ZM12.0498 8V8.1L11.9502 8.1002V8H12.0498Z"
                  stroke="var(--body-color)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </svg>
          </label>
          <input type="checkbox" id={id} class="sidenote-toggle" />
          <span class="sidenote">{made}</span>
       
      )
    }
  </article>
  <slot />
</div>
